<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ubicador.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Ubicador.My.MySettings>
            <setting name="CarpetaOrigen" serializeAs="String">
                <value />
            </setting>
            <setting name="CarpetaDestino" serializeAs="String">
                <value />
            </setting>
            <setting name="Prefijo" serializeAs="String">
                <value />
            </setting>
            <setting name="NumOrden" serializeAs="String">
                <value />
            </setting>
            <setting name="ArchivosMovidos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CarpetasCreadas" serializeAs="String">
                <value>0</value>
            </setting>
        </Ubicador.My.MySettings>
    </userSettings>
</configuration>